:root {
    /* this part is to consolidate repeating code for color and font that is commonly used */
    --defaultwhite: #ffffff;
    --defautlfont: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: content;
}

body {
    background-color: #d9dcd6;
}

header {
    /* removed class for a header, included var for default color */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--defaultwhite);
    flex: content;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
    flex: content;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--defautlfont);
    font-size: 20px;
    background-color: inherit;
    -ms-flex-item-align: inherit;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    place-content: right;
}

a {
    color: var(--defaultwhite);
    text-decoration: none;
    flex: flex;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.hero_image {
    height: auto;
    width: 100%;
    display: block;
    
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    /* this is new segment replacing one of the divs as I have divided into header, main, and footer as 3 main parts  */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    /* side panel */
    margin-right: 20px;
    padding: 20px;
    /* clear: both; */
    float: right;
    width: 20%;
    height: fit-content;
    font-family: var(--defautlfont);
    background-color:  #2a607c;
    /* background color was replaced by headers back-ground color to comply with accessibility requirements */
    flex: content;

}
aside section {
    /* this is for section of side panel, i have consolidated repeated code by adding var */
    margin-bottom: 32px;
    color: var(--defaultwhite);
}

aside section h3 {
    /*  this is for section of side panel for all h3 located in there */
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    /*  this is for section of side panel, consolidating repeating code for all images located in there  */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

article {
    /* article replacing maultiple divs for images on main in blocks such as Search Engine Optimization etc
    and i have consolidated repeated codes for different divs and also by utilizing var */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--defautlfont);
    background-color: #0072bb;
    color: var(--defaultwhite);

}


article img {
      /* article replacing maultiple divs for images on main in blocks such as Search Engine Optimization etc
        */
    max-width: 300px;
    ;
}


article h2 {
    /* same article replacing maultiple divs for images on main in blocks such as Search Engine Optimization etc and it applies h2 parameters to all */
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    /* footer is no longer class */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    /* now it has h4 accordingly to requirements */
    font-size: 20px;
}